{% extends "admin-layout.twig" %}

{% block content %}
    {% if result %}
        <div class="alert alert-success" role="alert">Success!</div>
    {% endif %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <p><strong>Error!</strong></p>
            <ul>
                {% for input, messages in errors %}
                    {% for message in messages %}
                        <li>{{ input }}: {{ message }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="POST">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control rounded-0" id="content" name="content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add post</button>
    </form>
{% endblock %}