{% extends "admin-layout.twig" %}

{% block content %}
    {% if result %}
        <div class="alert alert-success" role="alert">Success!</div>
    {% endif %}
    {% if errors %}
        {% include('partials/error.twig') %}
    {% endif %}
    <form method="POST">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control rounded-0" id="content" name="content" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="img">Image</label>
            <input type="text" class="form-control" name="img" id="titlimge" aria-describedby="img" placeholder="Enter Image url">
        </div>
        <button type="submit" class="btn btn-primary">Add post</button>
    </form>
{% endblock %}