{% extends "admin-layout.twig" %}

{% block content %}
    {% if errors %}
        {% include('partials/error.twig') %}
    {% endif %}
    <form method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email" aria-describedby="email" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="text" class="form-control" name="pass" id="pass" aria-describedby="pass" placeholder="Enter Pass">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}